body {
    font-size: 12pt;
    font-family: sans-serif; 
    color: #d4d4d4;
    background: #7a7a7a;

}
span {
    font-size: 12pt;
    font-family: sans-serif; 
    color: #d4d4d4;
    background: #7a7a7a;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}
div {
    font-size: 12pt;
    font-family: sans-serif; 
    color: #aaa9a9;
    background: #7a7a7a;
}
td {    border: 1px solid;
}